.maindiv{

    /* position: absolute; */
    /* width: 100%; */
    /* height: auto; */
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-y: auto; */

    
    /* Font 2 */
    
    /* background: #C2C1CD; */
    border-radius: 0px;
    }
    
    .logbox{
    
   
    width: 475px;
    height: 663px;
    left: 683px;
    top: 150px;
    
    background: #121114;
    border-radius: 12px;
    }

    .logo{
        position: absolute;
        width: 204px;
        height: 103.24px;   
        left: 619px;
        top: 150px;

    }

    h1{
        /* Hi, Welcome Back */
width: '100%';
text-align: center;
margin-top: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 550;
font-size: 24px;
line-height: 29px;
/* identical to box height, or 120% */


/* Primary */

color: #FFEAA3;

    }


.p1{
 
    text-align: center;
font-family: 'Poppins';
font-style: normal;
font-size: 20px;
line-height: 27px;
/* identical to box height, or 177% */


color: #9E9E9E;
} 

.text1{
    width: '100%';
    text-align: center;
width: 403px;
height: 62px;
left:35px;
background: #232227;
border-radius: 12px;
}
.text2{

    width: '100%';
    text-align: center;
width: 403px;
height: 62px;
left:35px;
background: #232227;
border-radius: 12px;
}

.btn1{

width: 100%;
height: 45px;
font-family: 'Robot';
font-style: 'Normal';
font-weight: 600;
font-size: 15px;
line-height: 26px;
color: 'black';
display: inline-block;

/* Primary */

/* background: #FFEAA3; */
border-radius: 4px;
}
.baseDiv{
    width: 100%;
    height: 100vh;
    background-color: #C2C1CD;
    overflow: auto;
    padding-top: 49px;
    padding-bottom: 49px;
}





  .box {
    

    
    
    width: 426px;
    height: 113px;
    
    justify-content: center;
    background: #121114;
    border: 2px dashed #FFFFFF;
    box-sizing: border-box;
    border-radius: 12px;
    align-content: center;
  }
  
  .alternate {
    box-sizing: border-box;
  }
  .profileSetup-imagePreview{
    width: 50%;
    position: relative;
  }    
  .profileSetup-imagePreview img{
      /* object-fit: contain; */
      width: 100%;
      height: 100%;
  }
  